form {
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Helvetica, sans-serif;

  /* Center the form on the page */
  height: minmax(250px, auto);
  margin: 0 auto;

  /* Form outline */
  padding: 1em;
  width: minmax(600px, auto);
  width: 600px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding-right: 2em;
  text-align: right;
}

#tiles {
  color: black;
  font-family: serif;
  font-size: small;
}
#quantity {
  text-align: right;
}
.button {
  color: black;
  padding-left: 500px;
}
.title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.text {
  background: #555;
  border-radius: 1em;
  color: white;
  font-size: small;
  font-weight: lighter;
  padding-bottom: 3px;
  padding-top: 5px;
  text-align: center;
}
.gridForm {
  align-content: stretch;
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
}

h5 {
  text-align: center;
}

button {
  color: black;
  font-size: large;
  font-weight: light;
  text-align: right;
  transition-duration: 0.3s;
}
button:hover {
  background-color: #555;
  color: white;
  font-size: large;
  font-weight: light;
  text-align: right;
  transition-duration: 0.3s;
}
.dataDisplay {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 3fr 1fr;
  margin: 1em;
}
table {
  border-collapse: collapse;
  margin-bottom: 0.5rem;
  width: 100%;
}

td {
  margin: 0;
  padding: 0.25rem;
}

td:nth-child(3) {
  text-align: center;
}
